body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

select {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 30px; /* Augmenté pour plus d'espace */
}

#gif-container {
    width: 100%; /* Assure le conteneur centré */
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Espace supplémentaire au-dessus */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

p {
    font-size: 0.9rem;
    margin-top: 10px;
}
